* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #59595c;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 20vh;
  border-radius: 120px;
  background-color: #e6edf5;
  border: 4px solid black;
}

.parent-container-second {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pedal {
  border-radius: 60px;
  height: 60px;
  width: 38px;
  background-color: #9c9b97;
}

#pedal:hover {
  background-color: #e1e1e8;
}

#brake {
  border-radius: 60px;
  height: 60px;
  width: 38px;
  background-color: #9c9b97;
}

#gear:hover {
  background-color: #e1e1e8;
}

#gear {
  border-radius: 60px;
  height: 60px;
  width: 38px;
  background-color: #9c9b97;
}

#gear-notification {
  color: #e6edf5;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brake:hover {
  background-color: #e1e1e8;
}

.gauge-reading {
  font-size: large;
}
